.Nav{
      display: flex;
      width: 420px;
      justify-content: space-between;
      position: relative;
      bottom: 35px;
      margin-top: 6px;}

.li-nav{
      list-style:none;
      margin-left: -39px;
      }

.link-nav{
      text-decoration: none;
      font-size: 18px;
      background-color: transparent;
      color: #fff;
      font-family: 'IBM Plex Serif', serif;}

.li-nav:hover{
      border-bottom: 2px solid #18d26e;}


@media (max-width:510px){
      .Nav{
         margin-top: 25px;
         top: -5px;
         width: 60%;
         flex-direction: row;
         text-align: center}

      .li-nav{
         position: relative;
         padding: 5px 10px 5px 10px;}

      .link-nav{
         font-size: 14px}
}
