html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-image: url("../Contents/Seccion_One/Image_Background/background4.0.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  image-rendering: pixelated;
  box-sizing: border-box;
}
